*.iml
.gradle
/local.properties
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
*.jks
*.keystore
*.apk
*.aab
app/release/
.kotlin/
.cursor/
